div#galeria{margin-left: 30%; float: left; width: 700px;}
img#uno{border: solid 1px gray;padding: 8px; float: right; margin: 10px;}
img#dos{border: solid 1px gray;padding: 8px; float: right; margin: 10px;}
img#tres{border: solid 1px gray;padding: 8px; float: right; margin: 10px;}
img#cuatro{border: solid 1px gray;padding: 8px; float: right; margin: 10px;}
img#cinco{border: solid 1px gray;padding: 8px; float: right; margin: 10px;}
img#seis{border: solid 1px gray;padding: 8px; float: right; margin: 10px;}
img#siete{border: solid 1px gray;padding: 8px; float: right; margin: 10px;}
img#ocho{border: solid 1px gray;padding: 8px; float: right; margin: 10px;}
img#nueve{border: solid 1px gray;padding: 8px; float: right; margin: 10px;}